<html lang="ja">
<head>
<table>
<tr>
<td>
  <form action="{% url 'events:event_index' %}" method="POST">
  {% csrf_token %}
  <input type="text" name='word'/>
    <select id="sort_id" name="sort">
    <option value="" selected="selected">Sort</option>
    <option value="like">いいね数</option>
    <option value="watch">ウォッチ数</option>
  </select>
  <input type="submit" value="search">
</form>
</td>
<td>
  <form action="{% url 'persol_users:user_add' %}">
  {% csrf_token %}
  <button type="submit" value="New person">ユーザを作成する</button>
  </form>
</td>
<td>
  <form action="{% url 'events:event_create' %}">
  {% csrf_token %}
  <button type="submit" value="New Event">イベントを作る</button>
</form>
</td>
</tr>
</table>
</head>
<body>
{% block contents %}
    hogehoge
{% endblock %}
</body>
<footer>
  <a href="#" onclick="javascript:window.history.back(-1);return false;">Back</a>
  <a href="/events/">イベント一覧に戻る</a>
</footer>
</html>
