{% extends 'common/base.html' %}
{% block head %}

    <title>{% block title %}イベント作成{% endblock %}</title>
{% endblock %}
{% block contents %}
<h3>イベント作成画面</h3>
<form enctype="multipart/form-data" action="{% url 'events:event_create' %}" method="POST">
  {% csrf_token %}
  <ul>
    {{ form.as_ul }}
    
    {# アンケート作成フォーム #}
    {% include "questions/embeded_form_new.html" with question_type="d" %}
    {% include "questions/embeded_form_new.html" with question_type="l" %}
  </ul>
  
  <input type="submit" value="Submit">
</form>

{% endblock %}

</body>
</html>
