{% extends 'events/base.html' %}
{% block contents %}

<h3>イベント一覧</h3>
<div>
{% if latest_event_list %}
{% for event in latest_event_list %}
<p><a href="{% url 'events:event_detail' event.id %}">{{ event.event_name }}</a></p>
<p>{{ event.event_datetime }} {{ event.event_location }}</p>
概要<br>
<TEXTAREA cols="40" rows="5" readonly>
{{ event.overview }}
</TEXTAREA><br>

<form action="{% url 'events:event_join' event.id %}" method="post">
{{ form }}
<button type="submit" value="event join">このイベントに参加する</button>
{% csrf_token %}
</form>

<form action="{% url 'events:event_like' event.id %}" method="post">
{{ like_form }}
{% csrf_token %}
<button type="submit" value="like">いいね</button>
</form>

<form action="{% url 'events:event_watch' event.id %}" method="post">
{% csrf_token %}
<input value="ウォッチ" type="submit"/>
</form>

{% endfor %}
{% else %}
<p>No event are available.</p>
{% endif %}
</div>

<h3>参加中のイベント</h3>
{% if joing_events %}
{% for event in joing_events %}
<p><a href="{% url 'events:event_detail' event.id %}">{{ event.event_name }}</a></p>
<p>{{ event.event_datetime }} {{ event.event_location }}</p>
概要<br>
<TEXTAREA cols="40" rows="5" readonly>
{{ event.overview }}
</TEXTAREA><br>

<form action="{% url 'events:event_join' event.id %}" method="post">
{{ form }}
<button type="submit" value="event join">このイベントに参加する</button>
{% csrf_token %}
</form>

<form action="{% url 'events:event_like' event.id %}" method="post">
{{ like_form }}
{% csrf_token %}
<button type="submit" value="like">いいね</button>
</form>

<form action="{% url 'events:event_watch' event.id %}" method="post">
{% csrf_token %}
<input value="ウォッチ" type="submit"/>
</form>

{% endfor %}
{% else %}
<p>No event are available.</p>
{% endif %}
</div>

<h3>ウォッチ中のイベント</h3>
{% if watching_events %}
{% for event in watching_events %}
<p><a href="{% url 'events:event_detail' event.id %}">{{ event.event_name }}</a></p>
<p>{{ event.event_datetime }} {{ event.event_location }}</p>
概要<br>
<TEXTAREA cols="40" rows="5" readonly>
{{ event.overview }}
</TEXTAREA><br>

<form action="{% url 'events:event_join' event.id %}" method="post">
{{ form }}
<button type="submit" value="event join">このイベントに参加する</button>
{% csrf_token %}
</form>

<form action="{% url 'events:event_like' event.id %}" method="post">
{{ like_form }}
{% csrf_token %}
<button type="submit" value="like">いいね</button>
</form>

<form action="{% url 'events:event_watch' event.id %}" method="post">
{% csrf_token %}
<input value="ウォッチ" type="submit"/>
</form>

{% endfor %}
{% else %}
<p>No event are available.</p>
{% endif %}
</div>

<h3>自分が主催者のイベント</h3>
{% if organized_events %}
  {% for event in organized_events %}
<p><a href="{% url 'events:event_detail' event.id %}">{{ event.event_name }}</a></p>
<p>{{ event.event_datetime }} {{ event.event_location }}</p>
概要<br>
<TEXTAREA cols="40" rows="5" readonly>
{{ event.overview }}
</TEXTAREA><br>

<form action="{% url 'events:event_join' event.id %}" method="post">
{{ form }}
<button type="submit" value="event join">このイベントに参加する</button>
{% csrf_token %}
</form>

<form action="{% url 'events:event_like' event.id %}" method="post">
{{ like_form }}
{% csrf_token %}
<button type="submit" value="like">いいね</button>
</form>

<form action="{% url 'events:event_watch' event.id %}" method="post">
{% csrf_token %}
<input value="ウォッチ" type="submit"/>
</form>

  {% endfor %}
{% else %}
<p>No event are available.</p>
{% endif %}
</div>

{% endblock %}