{% extends 'common/base.html' %}
{% block head %}
<title>イベント一覧</title>
<!-- css -->
<link href="/static/css/list_style.css" rel="stylesheet">
<!-- JS -->
<script src="/static/js/list.js"></script>
<!-- スワイプ参照サイト
https://www.tam-tam.co.jp/tipsnote/html_css/post9210.html
スクロール参照サイト
http://weboook.blog22.fc2.com/blog-entry-412.html
 -->
<script type="text/javascript">
function kakunin(){
  document.forms[1].submit();
}
</script>
 
{% endblock %}
{% block contents %}
<article>
  <div id="listArticle">
  <h1>イベント一覧</h1>
  <form name="search" action="{% url 'events:event_index' %}" method="POST">{% csrf_token %}
  <div class="search_box" ><input class="search_word" type="text" name='word' {{search_value|safe}}><input class="search_button" type="submit" value="検索"><select class="sort_method" id="sort_id" name="sort" onChange="kakunin()"><option value="1" {{selected1|safe}}>作成日が新しい</option> <option value="2" {{selected2|safe}}>作成日が古い</option><option value="3" {{selected3|safe}}>ウォッチ数が多い</option><option value="4" {{selected4|safe}}>参加者が多い</option><option value="5" {{selected5|safe}}>参加者が少ない</option><option value="6" {{selected6|safe}}>開催日が新しい</option><option value="7" {{selected7|safe}}>開催日が古い</option><option value="8" {{selected8|safe}}>期日降順</option></select></div>
　</form>
    <div class="container">
        <div class="tabContainer">
            <div class="tab">
                <div id="" class="tab__button tabNew active"><a href="#">募集中</a></div>
                <div class="tab__button tabJoin"><a href="#">参加</a></div>
                <div class="tab__button tabWatch"><a href="#">ウォッチ</a></div>
                <div class="tab__button tabMake"><a href="#">主催</a></div>
                <div class="tab__button tabEnd"><a href="#">開催済み</a></div>
            </div>
        </div>
        <div class="contents">
            <div class="contents__content contentNew">
            {% if latest_event_list %}
            {% for event in latest_event_list %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            {% include 'events/index_child.html' %} 
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">現在募集中のイベントはありません。</p>
            {% endif %}
            </div>
            <div class="contents__content contentJoin"><!-- 参加予定イベント -->
            {% if joing_events %}
            {% for event in joing_events %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            {% include 'events/index_child.html' %} 
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">参加予定のイベントはありません。</p>
            {% endif %}
            </div>
            <div class="contents__content contentWatch"><!-- ウォッチ中のイベント -->
            {% if watching_events %}
            {% for event in watching_events %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            {% include 'events/index_child.html' %} 
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">ウォッチ中のイベントはありません。</p>
            {% endif %}
            </div>
            <div class="contents__content contentMake"><!-- 自分が主催者のイベント -->
            {% if organized_events %}
            {% for event in organized_events %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            {% include 'events/index_child.html' %} 
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">主催しているイベントはありません。</p>
            {% endif %}
            </div>
            <div class="contents__content contentEnd"><!-- 開催日が過去のイベント -->
            {% if old_events %}
            {% for event in old_events %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            {% include 'events/index_child.html' %} 
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">開催済みのイベントはありません。</p>
            {% endif %}
            </div>
        </div>
    </div>
  </div>
</article>
{% endblock %}