{% extends 'common/base.html' %}
{% block head %}
    <link href="/static/css/detail_style.css" rel="stylesheet">
    <script src="/static/js/detail.js"></script>
    <title>{{ event.event_name }}:詳細ページ</title>
{% endblock %}
{% block contents %}
    <article>
      <div id="article">
        <div class="event">
        <div class="imageBox">
          {% if event.event_image = 'event_image/default.png' %}
          <p class="noimgtitle">{{ event.event_name }} <font size="1">{{event.status}}</font>
          {% else %}
          <img src="{{ BASE_DIR }}/{{ event.event_image.url }}"/>
          <p class="title">{{ event.event_name }} <font size="1">{{event.status}}</font>
          {% endif %}
          </div>
          {% if event.author == user %}<!-- 主催者のみ表示 -->
          <a href="{% url 'events:event_edit' event.id %}"><font size="1"> [編集]</font></a>
          {% endif%}
          </p>
          
          <!--　アンケート (日時)-->
          {% if not event.event_datetime %}
            {% if event.question_date %}
              {# 回答できるのはウォッチャと参加者だけ #}
              {% if user in event.members.all or user in event.watch.all %}
                <p class="questions"><a href="{% url 'questions:detail' event.question_date.id %}">アンケートに答える</a>
              {% endif %}
              <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i> アンケート中</p>
            {% else %}
              <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 未定</p>
            {% endif %}
          {% else %}
            <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ event.event_date }}</p>
            <p class="dateHour"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.event_starttime }}</p>
          {% endif %}
          
          <!--　アンケート (場所)-->
          {% if not event.event_location %}
            {% if event.question_location %}
            {# 回答できるのはウォッチャと参加者だけ #}
              {% if user in event.members.all or user in event.watch.all %}
                <p class="questions"><a href="{% url 'questions:detail' event.question_location.id %}">アンケートに答える</a></p>
              {% endif %}
              <p class="place"><i class="fa fa-map-marker" aria-hidden="true"></i> アンケート中</p>
            {% else %}
              <p class="place"><i class="fa fa-map-marker" aria-hidden="true"></i> 未定</p>
            {% endif %}
          {% else %}
            <p class="place"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ event.event_location }}</p>
          {% endif %}
          
          
          <p class="description">イベント概要：{{ event.overview|linebreaksbr }}</p>
          {% if event.author != user %}
            <p class="questions"><a href="mailto:{{ event.author.mail_address }}"><i class="fa fa-envelope" aria-hidden="true"></i> 問い合わせ</a></p>
          {% endif %}
          <p class="Organizer">主催者：{{ event.author.fullname }} 
            <a href="{% url 'persol_users:detail' event.author.id %}"><img class="userImage" src="/{{ event.author.data.url }}" width="50"/> </a>
          </p>
          <p class="participant">参加者</p>
          <ul class="participantIcon">
          {% for members in event.members.all %}
            <li><a href="/persol_users/{{ members.id }}/"><img src="{{ BASE_DIR }}/{{ members.data.url }}" width="50"/></a></li><!-- 参加者分の画像を表示 -->
          {% endfor %}
          </ul>
          {% if event.author == user %}<!-- 主催者のみ表示 -->
          検索用タグ:{{ event.search_tag }}<br>
          {% else %}
          {% if event.event_status == "E" %}
          {% else %}
          <ul class="btn">
            <li class="watch">
            {% if user not in event.members.all %}
              {# 参加していないときだけ表示 #}
              <form action="{% url 'events:event_watch' event.id %}" method="post">{% csrf_token %}
              {% if user in event.watch.all %}<!-- ログインユーザーがウォッチ中の場合-->
                <button name="watch" value="leave"><i class="fa fa-star" aria-hidden="true"></i> ウォッチ中</button><!-- ウォッチ状態ではiタグのclass名が fa fa-star-o 変わります -->
              {% else %}<!-- ログインユーザーがウォッチしていないの場合-->
                <button name="watch" value="add"><i class="fa fa-star-o" aria-hidden="true"></i> ウォッチ</button><!-- ウォッチ状態ではiタグのclass名が fa fa-star-o 変わります -->
              {% endif %}
              </form>
            {% endif %}
            </li>
            <li class="join">
              <form action="{% url 'events:event_join' event.id %}" method="post">{% csrf_token %}
                {% if user in event.members.all %}<!-- ログインユーザーがイベント参加予定の場合-->
                <button name="join" value="leave"> イベントから抜ける</button>
                {% else %}<!-- ログインユーザーがイベント未参加の場合-->
                <button name="join" value="add" class="participat"> イベントに参加</button>
                {% endif %}
              {% endif %}
              </form>
            </li>
          </ul>
          {% endif %}
        
        {% include 'comments/index.html' %}
        </div>
      </div>
    </article>
    

{% endblock %}