{% extends 'common/base.html' %}
{% block head %}
<title>一覧ページ</title>
<!-- css -->
<link href="/static/css/list_style.css" rel="stylesheet">
<!-- JS -->
<script src="/static/js/list.js"></script>
<!-- スワイプ参照サイト
https://www.tam-tam.co.jp/tipsnote/html_css/post9210.html
スクロール参照サイト
http://weboook.blog22.fc2.com/blog-entry-412.html
 -->
{% endblock %}
{% block contents %}
<article>
  <div id="listArticle">
  <h1>イベント一覧</h1>
  <form action="{% url 'events:event_index' %}" method="POST">{% csrf_token %}
  <!--<input type="text" name='word' value={{search_word}} onblur="if (this.value == '') this.value = 'search';" onfocus="if (this.value == 'search') this.value = '';"/>-->
　<input type="text" name='word' value={{search_word}}>
    <select id="sort_id" name="sort">
    <option value="" selected="selected">-並び替え-</option>
    <option value="like">いいね数</option>
    <option value="watch">ウォッチ数</option>
    <option value="ascforday">開催日が近い順</option>
  </select>
  <input type="submit" value="検索">
　</form>
    <div class="container">
        <div class="tabContainer">
            <div class="tab">
                <div id="" class="tab__button tabNew active"><a href="#">募集中</a></div>
                <div class="tab__button tabJoin"><a href="#">参加</a></div>
                <div class="tab__button tabWatch"><a href="#">ウォッチ</a></div>
                <div class="tab__button tabMake"><a href="#">主催</a></div>
                <div class="tab__button tabEnd"><a href="#">開催済み</a></div>
            </div>
        </div>
        <div class="contents">
            <div class="contents__content contentNew">
            {% if latest_event_list %}
            {% for event in latest_event_list %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            {% include 'events/index_child.html' %} 
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">現在募集中のイベントはありません。</p>
            {% endif %}
            </div>
            <div class="contents__content contentJoin"><!-- 参加予定イベント -->
            {% if joing_events %}
            {% for event in joing_events %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            {% include 'events/index_child.html' %} 
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">参加予定のイベントはありません。</p>
            {% endif %}
            </div>
            <div class="contents__content contentWatch"><!-- ウォッチ中のイベント -->
            {% if watching_events %}
            {% for event in watching_events %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            {% include 'events/index_child.html' %} 
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">ウォッチ中のイベントはありません。</p>
            {% endif %}
            </div>
            <div class="contents__content contentMake"><!-- 自分が主催者のイベント -->
            {% if organized_events %}
            {% for event in organized_events %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            {% include 'events/index_child.html' %} 
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">主催しているイベントはありません。</p>
            {% endif %}
            </div>
            <div class="contents__content contentEnd"><!-- 開催日が過去のイベント -->
            {% if old_events %}
            {% for event in old_events %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            {% include 'events/index_child.html' %} 
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">開催済みのイベントはありません。</p>
            {% endif %}
            </div>
        </div>
    </div>
  </div>
</article>
{% endblock %}