{% extends 'common/base.html' %}
{% block head %}
<title>一覧ページ</title>
<!-- css -->
<link href="/static/css/list_style.css" rel="stylesheet">
<!-- JS -->
<script src="/static/js/list.js"></script>
<!-- スワイプ参照サイト
https://www.tam-tam.co.jp/tipsnote/html_css/post9210.html
スクロール参照サイト
http://weboook.blog22.fc2.com/blog-entry-412.html
 -->
{% endblock %}
{% block contents %}
<article>
  <div id="listArticle">
  <h1>イベント一覧</h1>
    <div class="container">
        <div class="tabContainer">
            <div class="tab">
                <div id="" class="tab__button tabNew active"><a href="#">新着</a></div>
                <div class="tab__button tabJoin"><a href="#">参加予定</a></div>
                <div class="tab__button tabWatch"><a href="#">ウォッチ</a></div>
                <div class="tab__button tabMake"><a href="#">主催のイベント</a></div>
            </div>
        </div>
        <div class="contents">
            <div class="contents__content contentNew">
            {% if latest_event_list %}
            {% for event in latest_event_list %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            <div class="list">
              <p class="title">
                {% if user in event.members.all or user in event.watch.all %}
                <i class="fa fa-star" aria-hidden="true">
                {% else %}
                <i class="fa fa-star-o" aria-hidden="true"> 
                {% endif %}
                </i> {{ event.event_name }}</p>
              <div class="box">
                <div class="date">{{ event.event_date }}</div>
                <div class="place">{{ event.event_location }}</div>
              </div>
              <p class="description">{{ event.nobreak_overview }}</p>
                  <ul class="btnList">
                    <li class="detail">
                      <a href="{% url 'events:event_detail' event.id %}">詳細を見る</a>
                    </li>
                    {% if user in event.members.all and event.author != user %}<!-- ログインユーザーがイベント参加予定の場合-->
                    <li class="join">
                      <form action="{% url 'events:event_join' event.id %}" method="post">{% csrf_token %}
                      <button name="join" value="leave">イベントに参加予定</button>
                      </form>
                    {% elif user not in event.members.all and event.author != user %}<!-- ログインユーザーがイベント未参加且つ主催者じゃないの場合-->
                    <li class="join">
                      <form action="{% url 'events:event_join' event.id %}" method="post">{% csrf_token %}
                      <button name="join" value="add" class="participat">イベントに参加する</button>
                      </form>
                    {% elif event.author == user %}
                    <li class="update">
                      <a href="{% url 'events:event_edit' event.id %}"><button>※イベントを更新※</button></a><!--本当は"イベントを更新"する。-->
                    {% endif %}
                    </li>
                  </ul>
            </div>
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">現在募集中のイベントはありません。</p>
            {% endif %}
            </div>
            
            <div class="contents__content contentJoin"><!-- 参加予定イベント -->
            {% if joing_events %}
            {% for event in joing_events %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            <div class="list">
              <p class="title">
                {% if user in event.members.all or user in event.watch.all %}
                <i class="fa fa-star" aria-hidden="true">
                {% else %}
                <i class="fa fa-star-o" aria-hidden="true"> 
                {% endif %}
                </i> {{ event.event_name }}</p>
              <div class="box">
                <div class="date">{{ event.event_date }}</div>
                <div class="place">{{ event.event_location }}</div>
              </div>
              <p class="description">{{ event.nobreak_overview }}</p>
                  <ul class="btnList">
                    <li class="detail">
                      <a href="{% url 'events:event_detail' event.id %}">詳細を見る</a>
                    </li>
                    {% if user in event.members.all and event.author != user %}<!-- ログインユーザーがイベント参加予定の場合-->
                    <li class="join">
                      <form action="{% url 'events:event_join' event.id %}" method="post">{% csrf_token %}
                      <button name="join" value="leave">イベントに参加予定</button>
                      </form>
                    {% elif user not in event.members.all and event.author != user %}<!-- ログインユーザーがイベント未参加且つ主催者じゃないの場合-->
                    <li class="join">
                      <form action="{% url 'events:event_join' event.id %}" method="post">{% csrf_token %}
                      <button name="join" value="add" class="participat">イベントに参加する</button>
                      </form>
                    {% elif event.author == user %}
                    <li class="update">
                      <a href="{% url 'events:event_edit' event.id %}"><button>※イベントを更新※</button></a><!--本当は"イベントを更新"する。-->
                    {% endif %}
                    </li>
                  </ul>
            </div>
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">参加予定のイベントはありません。</p>
            {% endif %}
            </div>
    
            <div class="contents__content contentWatch"><!-- ウォッチ中のイベント -->
            {% if watching_events %}
            {% for event in watching_events %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            <div class="list">
              <p class="title">
                {% if user in event.members.all or user in event.watch.all %}
                <i class="fa fa-star" aria-hidden="true">
                {% else %}
                <i class="fa fa-star-o" aria-hidden="true"> 
                {% endif %}
                </i> {{ event.event_name }}</p>
              <div class="box">
                <div class="date">{{ event.event_date }}</div>
                <div class="place">{{ event.event_location }}</div>
              </div>
              <p class="description">{{ event.nobreak_overview }}</p>
                  <ul class="btnList">
                    <li class="detail">
                      <a href="{% url 'events:event_detail' event.id %}">詳細を見る</a>
                    </li>
                    {% if user in event.members.all and event.author != user %}<!-- ログインユーザーがイベント参加予定の場合-->
                    <li class="join">
                      <form action="{% url 'events:event_join' event.id %}" method="post">{% csrf_token %}
                      <button name="join" value="leave">イベントに参加予定</button>
                      </form>
                    {% elif user not in event.members.all and event.author != user %}<!-- ログインユーザーがイベント未参加且つ主催者じゃないの場合-->
                    <li class="join">
                      <form action="{% url 'events:event_join' event.id %}" method="post">{% csrf_token %}
                      <button name="join" value="add" class="participat">イベントに参加する</button>
                      </form>
                    {% elif event.author == user %}
                    <li class="update">
                      <a href="{% url 'events:event_edit' event.id %}"><button>※イベントを更新※</button></a><!--本当は"イベントを更新"する。-->
                    {% endif %}
                    </li>
                  </ul>
            </div>
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">ウォッチ中のイベントはありません。</p>
            {% endif %}
            </div>
    
            <div class="contents__content contentMake"><!-- 自分が主催者のイベント -->
            {% if organized_events %}
            {% for event in organized_events %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            <div class="list">
              <p class="title">
                {% if user in event.members.all or user in event.watch.all %}
                <i class="fa fa-star" aria-hidden="true">
                {% else %}
                <i class="fa fa-star-o" aria-hidden="true"> 
                {% endif %}
                </i> {{ event.event_name }}</p>
              <div class="box">
                <div class="date">{{ event.event_date }}</div>
                <div class="place">{{ event.event_location }}</div>
              </div>
              <p class="description">{{ event.nobreak_overview }}</p>
                  <ul class="btnList">
                    <li class="detail">
                      <a href="{% url 'events:event_detail' event.id %}">詳細を見る</a>
                    </li>
                    {% if user in event.members.all and event.author != user %}<!-- ログインユーザーがイベント参加予定の場合-->
                    <li class="join">
                      <form action="{% url 'events:event_join' event.id %}" method="post">{% csrf_token %}
                      <button name="join" value="leave">イベントに参加予定</button>
                      </form>
                    {% elif user not in event.members.all and event.author != user %}<!-- ログインユーザーがイベント未参加且つ主催者じゃないの場合-->
                    <li class="join">
                      <form action="{% url 'events:event_join' event.id %}" method="post">{% csrf_token %}
                      <button name="join" value="add" class="participat">イベントに参加する</button>
                      </form>
                    {% elif event.author == user %}
                    <li class="update">
                      <a href="{% url 'events:event_edit' event.id %}"><button>※イベントを更新※</button></a><!--本当は"イベントを更新"する。-->
                    {% endif %}
                    </li>
                  </ul>
            </div>
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">主催しているイベントはありません。</p>
            {% endif %}
            </div>
        </div>
    </div>
  </div>
</article>
{% endblock %}