{% extends 'common/base.html' %}
{% block head %}
    <link href="/static/css/detail_style.css" rel="stylesheet">
    <script src="/static/js/detail.js"></script>
    <title>{{ event.event_name }}:詳細ページ</title>
{% endblock %}
{% block contents %}
    <article>
      <div id="article">
        <div class="event">
          <p class="title">{{ event.event_name }}</p>
            <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ event.event_date }}</p>
          {% if event.event_datetime %}
          {% else %}
            <p class="questions"><a href="">日時アンケートに参加する</a></p><!-- 値がセットされていなかったら表示する -->
          {% endif %}
            <p class="dateHour"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.event_starttime }}</p>
          {% if event.event_location %}
          {% else %}
            <p class="questions"><a href="">場所アンケートに参加する</a></p><!-- 値がセットされていなかったら表示する -->
          {% endif %}
            <p class="place"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ event.event_location }}</p>
          <p class="description">{{ event.overview | linebreaksbr }}</p>
          {% if event.author != user %}
          <p class="questions"><a href="">主催者に問い合わせる</a></p>
          {% endif %}
          <p class="organizer">主催者:{{ event.author.fullname }} <a href="/persol_users/{{ event.author.id }}/"><img src="{{ BASE_DIR }}/{{ event.author.data.url }}" width="50"/></a></p>
          <p class="participant">参加者</p>
          <ul class="participantIcon">
          {% for members in event.members.all %}
            <li><a href="/persol_users/{{ members.id }}/"><img src="{{ BASE_DIR }}/{{ members.data.url }}" width="50"/></a></li><!-- 参加者分の画像を表示 -->
          {% endfor %}
          </ul>
          {% if event.author == user %}<!-- 主催者のみ表示 -->
          検索用タグ:{{ event.search_tag }}<br>
          <a href="{% url 'events:event_edit' event.id %}"><button>イベント更新</button></a>
          {% else %}
          <ul class="btn">
            <li class="watch">
            {% if user in event.members.all %}
            ウォッチは表示しない
            {% else %}
              <form action="{% url 'events:event_watch' event.id %}" method="post">{% csrf_token %}
              {% if user in event.watch.all %}<!-- ログインユーザーがウォッチ中の場合-->
                <button name="watch" value="leave"><i class="fa fa-star" aria-hidden="true"></i> ウォッチ中</button><!-- ウォッチ状態ではiタグのclass名が fa fa-star-o 変わります -->
              {% elif user not in event.watch.all%}<!-- ログインユーザーがウォッチしていないの場合-->
                <button name="watch" value="add"><i class="fa fa-star-o" aria-hidden="true"></i> ウォッチ</button><!-- ウォッチ状態ではiタグのclass名が fa fa-star-o 変わります -->
              {% endif %}
              </form>
            {% endif %}
            </li>
            <li class="join">
              <form action="{% url 'events:event_join' event.id %}" method="post">{% csrf_token %}
              {% if user in event.members.all %}<!-- ログインユーザーがイベント参加予定の場合-->
                <button name="join" value="leave"> イベントに参加予定</button>
              {% else %}<!-- ログインユーザーがイベント未参加の場合-->
                <button name="join" value="add" class="participat"> イベントに参加する</button>
              {% endif %}
              </form>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </article>
    {% if event.question_date %}
    <a href="{% url 'questions:detail' event.question_date.id %}">日時アンケートに答える</a>
    {% endif %}
    {% if event.question_location %}
    <a href="{% url 'questions:detail' event.question_location.id %}">場所アンケートに答える</a><br/>
    {% endif %}
    
    {% include 'comments/index.html' %}
{% endblock %}