{% extends 'common/base.html' %}
{% load is_checked %}
{% block head %}
    <link href="/static/css/question_style.css" rel="stylesheet">
    <title>{{ question.event.event_name }}：アンケート回答ページ</title>
{% endblock %}
{% block contents %}
<h3>{{ question.question_text }}</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'questions:answerRegistration' question.id %}" method="post">
{% csrf_token %}

<div class="scroll">
<table border="1" class="question">
  <thead>
    <tr>
　    <th class="weak">回答者</th>
      {% for choice in choices %}
        <th>{{ choice.choice_text }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% if user_answers_dict %}
      {% for user, choice_answer in user_answers_dict.iteritems %}
      <tr>
        <td class="user_name">{{ user.surname }}</td>
        {% for answer in choice_answer.values %}
          <td>{{ answer }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      
      {% for opt in answer_options %}
        <tr class="total">
          <td>{{ opt }}</td>
          {% for choice in choices %}
            <td class="total">{{ choice|answer_count:opt }}<span class="unit_string">人</span></td>
          {% endfor %}
        </tr>
      {% endfor %}
    {% else %}
      <td></td><td colspan={{ question.choice_set.all.count }}>まだ誰も回答していません</td>
    {% endif %}
    <!-- 回答欄 -->
    <tr class ="question_input">
      <td class="user_name">
        {{ request.user.surname  }}
      </td>
      {% for choice in question.get_sorted_choices %}
      <td>
        <input type="hidden" name="choiceId" value="{{choice.id}}"/>
        <ul>
          <li><input type="radio" name="answer_text_{{choice.id}}" id="answer_text_ok_for_{{choice.id}}" value="○" {{choice|get_answer:request.user.id|is_checked:"○"}}/><label for="answer_text_ok_for_{{choice.id}}">○</label></li>
          <li><input type="radio" name="answer_text_{{choice.id}}" id="answer_text_soso_for_{{choice.id}}" value="△" {{choice|get_answer:request.user.id|is_checked:"△"}}/><label for="answer_text_soso_for_{{choice.id}}">△</label></li>
          <li><input type="radio" name="answer_text_{{choice.id}}" id="answer_text_ng_for_{{choice.id}}" value="×" {{choice|get_answer:request.user.id|is_checked:"×"}}/><label for="answer_text_ng_for_{{choice.id}}">×</label></li>
          <script type="text/javascript">
            // 回答が無いときは○を選択
            if($("input[name=answer_text_{{choice.id}}]:checked").length == 0){
              $("#answer_text_ng_for_{{choice.id}}").prop("checked", true);
            }
          </script>
        </ul>
      </td>
      {% endfor %}
    </tr>
  </tbody>
</table>
</div>

<input type="submit" value="回答を送信" class="post_answer" />
</form>

<a href="{% url 'events:event_detail' question.event.id %}">キャンセル</a>
{% endblock %}