{% extends 'common/base.html' %}
{% block head %}
<title>イベントアンケート編集</title>
{% endblock %}
{% block contents %}
<h1>{{ event.event_name }}のアンケート</h1>
<form action="{% url 'event_questions:update' event_id=event.id update_type=update_type %}" method="post">
    {% csrf_token %}
    
    <h2>{{ question.questionnaire_title }}</h2>
    <input type="hidden" name="title" value='{{ question.questionnaire_title }}'/>
    <p>
        <label for="text">質問文:</label>
        <input type="text" name="text" id="text" value="{{ question.question_text }}"/>
    </p>
    <p>
        <label for="choices">選択肢:</label>
        <textarea name="choices"  id="choices" rows="4" cols="40" placeholder="候補1&#13;&#10;候補2&#13;&#10;候補3">{{ question.get_choices_text }}</textarea>
    </p> 
    
    <input type="submit" value="送信" />
</form>
{% endblock %}