<ul>
    <input type ="hidden" name="question_type" value="{{ question_type }}" />
    <label>{{ question.questionnaire_title }}</label>
    <input type="hidden" name="questionnaire_title_{{ question_type }}" value='{{ question.questionnaire_title }}<'/>
    <li>
        <label for="question_text_{{ question_type }}">質問文:</label>
        <input type="text" name="question_text_{{ question_type }}" id="question_text_{{ question_type }}" 
            value="{{ question.question_text }}"/>
    </li>
    <li>
        <label for="question_choices_{{ question_type }}">選択肢:</label>
        <textarea name="question_choices_{{ question_type }}"  id="question_choices_{{ question_type }}" rows="4" cols="40" placeholder="候補1&#13;&#10;候補2&#13;&#10;候補3">{{ question.get_choices_text }}</textarea>
    </li>
</ul>