{% extends 'common/base.html' %}
{% block head %}
<title>イベントアンケート作成</title>
{% endblock %}
{% block contents %}
<h1>{{ event.event_name }}のアンケート</h1>
<form action="{% url 'event_questions:create' event_id=event.id %}" method="post">
    {% csrf_token %}
    {% if question_date %}
    <h2>日時アンケート</h2>
    <input type="hidden" name="title_date" value='日時アンケート'/>
    <p>
        <label for="text_date">質問文:</label>
        <input type="text" name="text_date" id="text_date" value="{{ question_date.question_text }}"/>
    </p>
    <p>
        <label for="choices_date">選択肢:</label>
        <textarea name="choices_date"  id="choices_date" rows="4" cols="40" placeholder="候補1&#13;&#10;候補2&#13;&#10;候補3"></textarea>
    </p>
    {% endif %}
    
    {% if question_location %}
    <h2>場所アンケート</h2>
    <input type="hidden" name="title_date" value='場所アンケート'/>
    <p>
        <label for="text_date">質問文:</label>
        <input type="text" name="text_date" id="text_date" value="{{ question_location.question_text }}"/>
    </p>
    <p>
        <label for="choices_date">選択肢:</label>
        <textarea name="choices_date"  id="choices_date" rows="4" cols="40" placeholder="候補1&#13;&#10;候補2&#13;&#10;候補3"></textarea>
    </p>
    {% endif %}
    <input type="submit" value="送信" />
</form>
{% endblock %}