/* 詳細ページ用スタイルシート */

div#article {

	width: 94%;
	padding: 1%;
	margin: 0 auto;

}


div#article .event .title{
	font-size: 120%;
	font-weight: bold;
	padding-bottom: 3px;
	border-bottom: 2px solid #cccccc;
	margin-bottom: 20px;
	/*text-shadow: 2px 2px 0px #fff,-2px -2px 0px #fff,2px 2px 0px #fff,-2px -2px 0px #fff;
	background-color:#333;*/
}

div#article .event .date{
	font-size: 90%;
	margin-bottom:5px; 
	/*display: inline-block;*/
}
div#article .event .dateHour{
	font-size: 90%;
	margin-bottom:5px;	
	/*display: inline-block;*/
}
div#article .event .place{
	font-size: 90%;
	margin-bottom:5px;
	padding-top: 5px;
	/*display: inline-block;*/
}
div#article .event .questions{
	float: right;
}
div#article .place + .questions{
	margin-bottom:10px; : 
	
}

div#article .event .questions a {
	display: block;
	padding: 3px;
	color: #ffffff;
	background-color: #0B610B;
	font-size: 2.8vw;
	border-radius: 3px;
}

div#article .event .description {
	border-top:2px dotted #cccccc;
	padding-top:5px;
	font-size: 90%;
	clear: both;
	margin-bottom: 20px;
}
div#article .event .participant {
	font-size: 90%
}
div#article .event ul.participantIcon {
	margin-bottom:20px;
}

div#article .event ul.participantIcon li{
	display: inline-block;
}
div#article .event ul.participantIcon li img {
  border-radius: 20px;
  height: 40px;
  width: 40px;
}


div#article .event .organizer {
	font-size: 90%;
	margin-bottom: 20px;
}

div#article .event .organizer img {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-top:-10px;
}

div#article .event .comment {}

div#article .event .comment p {
font-size:90%;
}

div#article .event .comment .comment-list {
border:1px solid #999999;
border-radius: 5px;
padding:5px;
font-size:90%;
margin-bottom:20px;
}

div#article .event .comment .comment-list .comment-block {
border-bottom:1px solid #333333;
padding:5px 0;
}
div#article .event .comment .comment-list .comment-block:last-child {
border:none;
} 

div#article .event .comment .comment-list .comment-block .comment-author,div#article .event .comment .comment-list .comment-block .comment-icon {
display:inline-block;
vertical-align:middle
}

div#article .event .comment .comment-list .comment-block .comment-author {
margin-top:10px;}

div#article .event .comment .comment-list .comment-block .comment-icon img{
    border-radius: 20px;
    width: 40px;
    height: 40px;}

div#article .event .comment .comment-list .comment-block .comment-body {
border-top:1px dotted #999999;
margin-top:5px;
padding-top:5px;
}

div#article .event .comment .comment-list .comment-block .comment-form {
margin-top:10px;

}

div#article .event .comment .comment-list .comment-block .comment-form textarea {
display:inline-block;
vertical-align:middle;
width:80%;
}

div#article .event .comment .comment-list .comment-block .comment-form input {
background-color:#666666;
border-radius: 5px;
padding:2px 5px;
color:#ffffff;
display:inline-block;
vertical-align:middle;
}





div#article .event li.watch {
	display: inline-block;
	width: 48%;
	margin: 0 2%;
}


div#article ul.btn li.join  {
	display:inline-block;
	width: 40%;
}

div#article ul.btn {
	margin: 10px 0 20px;
}

div#article ul.btn li a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	font-size: 3vw;
	font-weight: bold;
}

ul.participantIcons>li{
    display: inline-block;
    vertical-align:middle
}
img.userImage{
    border-radius: 20px;
}

div#article ul.btn li.watch button {
	background-color:#ffffff;
	display:inline-block;
	border-radius: 15px;
	padding: 5px 20px;
	border:3px solid #ff8f00;
	color: #ff8f00;
	
}

div#article ul.btn li.join button{
	border-radius: 15px;
	padding: 5px;
	width: 100%;
	border: 3px solid #FF4000;
	color: #FF4000;
	background-color:#ffffff;
}
div#article ul.btn li.join button.participat{
	border-radius: 15px;
	padding: 5px;
	width: 100%;
	background-color:#FF4000;
	color: #ffffff;
}
