/* 一覧ページ用スタイルシート */

div#listArticle h1{
	font-size: 120%;
	padding: 5px 0 10px 10px;
}

div#listArticle .select p, div#listArticle .select select {
	display: inline-block;
}

div#listArticle .list {
	padding: 10px 0;
	width:94%;
	background-color:#ffffff;
	margin:0 auto 5px;
	border-radius:5px;
	padding:1%;
}

div#listArticle .list .title{
	font-size: 120%;
	font-weight: bold;
}

div#listArticle .list .title i{
	color: #ffca28;
}

div#listArticle .list .box {
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}


div#listArticle .list .date{
	font-size: 90%;
	display: inline-block;
	padding:0 5%;
	width:40%;
}
div#listArticle .list .date span {
	vertical-align:top;
	}

div#listArticle .list .place{
	font-size: 90%;
	display: inline-block;
	padding:0 5%;
	border-left:1px solid #cccccc;
	width:37%;
}

div#listArticle .list .description {
	font-size: 95%;
	padding:5px 2%
}

div#listArticle .list li.detail {
	display: inline-block;
	width: 45%;
	margin: 0 2%;
}

div#listArticle ul.btnList {
	margin-top: 10px;
	text-align: center;
}

div#listArticle ul.btnList li {
	vertical-align: middle;
	width: 45%;
}

div#listArticle .list ul.btnList li.detail a{
	display: inline-block;
	text-align: center;
	padding: 6px 10px;
	font-size: 4vw;
	font-weight: bold;
	overflow: hidden;
	vertical-align:top;
}
div#listArticle .list ul.btnList li.join button,div#listArticle .list ul.btnList li.update button {
	display: inline-block;
	text-align: center;
	padding: 7px;
	font-size: 4vw;
	font-weight: bold;
	overflow: hidden;
	vertical-align:top;

}

div#listArticle .list ul.btnList li.detail a {
	background-color:#FFFFFF;
	line-height:130%;
	border: 3px solid #0040ff;
	color:#0040ff;
	border-radius:15px 15px ;
}

div#listArticle .list ul.btnList li.join,div#listArticle .list ul.btnList li.update {
	display:inline-block;
	width: 45%;
	margin: 0 2%;
}

div#listArticle .list ul.btnList li.join button {
	background-color:#FFFFFF;
	border-radius:15px 15px ;
	border:3px solid #FF4000;
	color:#FF4000;
}

div#listArticle .list ul.btnList li.join button.participat {
	background-color:#FF4000;
	border-radius:15px 15px ;
	border:3px solid #FF4000;
	color:#FFFFFF;
}
/* 更新ボタン */
div#listArticle .list ul.btnList li.update button {
	background-color:#FFFFFF;
	border-radius:15px 15px ;
	border:3px solid #d965ed;
	color:#d965ed;
}





/* スワイプタブ用記述 */
.container{
    max-width: 400px;
    margin: auto;
}

.tabContainer {
    overflow-x: auto;
}
.tabContainer::-webkit-scrollbar {
    height: 0px;
}
.tabContainer::-webkit-scrollbar-track {
    background: #fff;
}
.tabContainer::-webkit-scrollbar-thumb {
    background: #fff;
}

.tab{
    display: table;
}
/* 新着タブの色迷走中
#bd0303
 */
.tab__button.tabNew {
	border-top:1px solid #ea7e7e;
	border-right:1px solid #ea7e7e;
	border-left:1px solid #ea7e7e;
}
.tab__button.tabNew a {
	color:#ea7e7e;}
.tab__button.tabNew.active {
	background-color: #ea7e7e;
}

.tab__button.tabJoin {
	border-top:1px solid #57cc5c;
	border-right:1px solid #57cc5c;
	border-left:1px solid #57cc5c;
}
.tab__button.tabJoin a {
	color:#57cc5c;}
.tab__button.tabJoin.active {
	background-color: #57cc5c;
}
/*
ウォッチタブの色迷走中
#ff8f00;
*/
.tab__button.tabWatch {
	border-top:1px solid #ffaa00;
	border-right:1px solid #ffaa00;
	border-left:1px solid #ffaa00;
}
.tab__button.tabWatch a {
	color:#ffaa00;}
.tab__button.tabWatch.active {
	background-color: #ffaa00;
}

/*
主催イベントタブの色迷走中
#9c27b0;
*/
.tab__button.tabMake {
	border-top:1px solid #dc6eef;
	border-right:1px solid #dc6eef;
	border-left:1px solid #dc6eef;
}
.tab__button.tabMake a {
	color:#dc6eef;}
.tab__button.tabMake.active {
	background-color: #dc6eef;
}


.tab__button{
    display: table-cell;
    text-align: center;
    /*background-color: #000;*/
    vertical-align: middle;
    border: 2px solid white;
    border-bottom-width: 4px;
    min-width: 80px;
}

.tab__button.active{
    border-bottom: none;
}

.tab__button a{
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 12px;
}
.tab__button.active a{
	color: #fff;
}

/*
新着タブの色迷走中
#bd0303 0%, #ef9a9a 20%, #f7c8d6 100%
*/
.contents__content.contentNew {
	border-top: 2px solid #ea7e7e;
	background: #f9e0e0;
	background: -moz-linear-gradient( #ea7e7e 0%, #f7a5a5 20%, #f9e0e0 100%);
background: -webkit-gradient(linear, left top, left bottom, from(#ea7e7e), color-stop(50%, #f7a5a5)2 to(#f9e0e0));
	background: -webkit-linear-gradient( #ea7e7e 0%, #f7a5a5 20%, #f9e0e0 100%);
	background: -o-linear-gradient( #ea7e7e 0%, #f7a5a5 20%, #f9e0e0 100%);
	background: linear-gradient( #ea7e7e 0%, #f7a5a5 20%, #f9e0e0 100%);
	
}
/*
参加予定タブの色迷走中
#4caf50 0%, #b0dbb2 20%, #c8e6c9 100%
*/

.contents__content.contentJoin {
	border-top: 2px solid #57cc5c;
	background: #f7c8d6;
	background: -moz-linear-gradient( #57cc5c 0%, #b0dbb2 20%, #c8e6c9 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#57cc5c), color-stop(50%, #b0dbb2)2 to(#c8e6c9));
	background: -webkit-linear-gradient( #57cc5c 0%, #b0dbb2 20%, #c8e6c9 100%);
	background: -o-linear-gradient( #57cc5c 0%, #b0dbb2 20%, #c8e6c9 100%);
	background: linear-gradient( #57cc5c 0%, #b0dbb2 20%, #c8e6c9 100%);
}
/*
ウォッチタブの色迷走中
#ffaa00 0%, #ffd8a0 20%, #fddeb1 100%
*/
.contents__content.contentWatch {
	border-top: 2px solid #ffaa00;
	background: #f7c8d6;
	background: -moz-linear-gradient( #ffaa00 0%, #ffd8a0 20%, #fddeb1 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffaa00), color-stop(50%, #ffd8a0)2 to(#fddeb1));
	background: -webkit-linear-gradient( #ffaa00 0%, #ffd8a0 20%, #fddeb1 100%);
	background: -o-linear-gradient( #ffaa00 0%, #ffd8a0 20%, #fddeb1 100%);
	background: linear-gradient( #ffaa00 0%, #ffd8a0 20%, #fddeb1 100%);
}
/*
主催イベントタブの色迷走中
#9c27b0 0%, #dbb1e2 20%, #e1bee7 100%
*/
.contents__content.contentMake {
	border-top: 2px solid #dc6eef;
	background: #f7c8d6;
	background: -moz-linear-gradient( #dc6eef 0%, #dbb1e2 20%, #e1bee7 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#dc6eef), color-stop(50%, #dbb1e2)2 to(#e1bee7));
	background: -webkit-linear-gradient( #dc6eef 0%, #dbb1e2 20%, #e1bee7 100%);
	background: -o-linear-gradient( #dc6eef 0%, #dbb1e2 20%, #e1bee7 100%);
	background: linear-gradient( #dc6eef 0%, #dbb1e2 20%, #e1bee7 100%);

}

.contents__content{
    padding-top:15px;
}

.contents__content p.noevent{
    padding-left:15px;
    font-weight:bold;
    }

.contents__content div{
    clear: left;
}

/*
.contents__content div a{
    display: table;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    border-bottom:1px solid #999;
    color:#222;
    text-align: left;
    line-height: 1.5em;
    font-size: 14px;
}

.contents__content div a span{
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
}
*/
