/* 回答送信ボタン */
input.post_answer {
	background-color: #ffaa00;
	border-radius: 5px;
	color: #ffffff;
	padding: 5px;
	text-align: center;
	margin: 30px auto;
	display: block;
	width: 60%;
}

/* ラジオボタンの見た目 */
.question_input input[type="radio"] {
    display:none;
}
.question_input label {
    display: table-cell;
    vertical-align: middle;
    
    width:2em;
    height:2em;
    border-radius: 1em;
    
    background-color: lightgrey;
    color: #fff;
}
.question_input input[type="radio"]:checked + label{
    background-color: #57cc5c;
    /*color: #fff;*/
}


/* テーブルの見た目 */
table.question {
    border-collapse: collapse;
    width:100%;
    white-space: nowrap;　/*tableのセル内にある文字の折り返しを禁止*/
}
table.question th {
    background-color: #eee;
    text-align: center;
    width: 3em;
    padding: 5px;
    border: 1px solid #ddd;
}
table.question td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

th.weak {
    font-weight: normal;
}
td.user_name {
    background-color: #eee;
    font-weight: bold;
}



/* 部分的な横スクロール */
.scroll{
    overflow: auto;
}
.scroll::-webkit-scrollbar{　　/*tableにスクロールバーを追加*/
 height: 5px;
}
.scroll::-webkit-scrollbar-track{　　/*tableにスクロールバーを追加*/
 background: #F1F1F1;
}
.scroll::-webkit-scrollbar-thumb {　　/*tableにスクロールバーを追加*/
 background: #BCBCBC;
}