{% extends 'common/base.html' %}
{% block head %}
        <link href="/static/css/user_style.css" rel="stylesheet">
        <title>{{ reference_user.surname}} {{ reference_user.name }}さんのプロフィール</title>


{% endblock %}

{% block contents %}

<div id="listArticle">
<h1> {{ reference_user.surname}} {{ reference_user.name }} さんのプロフィール</h1>
    <div class="container">
        <div class="profile_waku">
            <div class="profile_photo">
                <img src="/{{ reference_user.data.url }}">
            </div>
            
            <div class="profile_namae">
                {{ reference_user.surname}} {{ reference_user.name }}
                {% if reference_user.employee_number ==  login_user.employee_number%}
                　<a href="{% url 'persol_users:user_modify' %}">[編集]</a>
                {% endif %}
            </div>
            
            <div class="profile_maile">
                <i class="fa fa-envelope-o fa-fw"></i><a href="mailto:{{ reference_user.mail_address}} ">{{ reference_user.mail_address}}</a>
            </div>
            
            <div class="selfintroduction">
                {{ reference_user.self_introduction_text|linebreaksbr }}
            </div>
            
        </div>
    </div>






    <div class="contents">

        <div class="contents__content contentJoin">
            <div class="title_sankayotei">参加予定のイベント</div>
            {% include 'persol_users/event_list.html' %}
        </div>
    </div>
</div>

{% endblock %}