{% extends 'common/base.html' %}
{% block head %}
     <title>ユーザー情報</title>
{% endblock %}

{% block contents %}
<img src="{{ BASE_DIR }}/{{ reference_user.data.url }}" width="100" height="100" </img>
<h1>{{ reference_user.name }}</h1>
<ul>

<li>{{ reference_user.employee_number}}</li>
<li>{{ reference_user.surname}}</li>
<li>{{ reference_user.mail_address}}</li>
<li>{{ reference_user.self_introduction_text}}</li>

{% if reference_user.employee_number ==  login_user.employee_number%}
　</ul>
　<a href="{% url 'persol_users:user_modify' %}">編集</a>
{% endif %}





{% include 'persol_users/event_list.html' %}

{% endblock %}