
            <div class="contents__content contentJoin"><!-- 参加予定イベント -->
            {% if user.event_set.all %}
            {% for event in user.event_set.all %}
<!-- ▼このdivをイベントの数だけ複製▼ -->
            {% include 'events/index_child.html' %} 
<!-- ▲このdivをイベントの数だけ複製▲ -->
            {% endfor %}
            {% else %}
            <p class="noevent">参加予定のイベントはありません。</p>
            {% endif %}
            </div>





<!--
<hr/>
<ul>
<li><img src="{{ BASE_DIR }}/{{ event.event_image.url }}" width="100" height="100" </img>
{{ event.event_name }}</li>
<li>{{ event.event_datetime }}</li>
<li>{{ event.event_location }}</li>
</ul>
-->