{% extends 'common/base.html' %}
{% block head %}
    <title>ユーザー一覧</title>
{% endblock %}

{% block contents %}

{% if user_list %}
    <ul>
    {% for user in user_list %}
        <li><a href="/persol_users/{{ user.id }}/">{{ user.name }}</a> : <a href="{% url 'persol_users:reset_password' user.id %}">パスワードリセット</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No itfes are available.</p>
{% endif %}
<form action="{% url 'persol_users:user_add'%}" method="post">
     {% csrf_token %}
    <input type="submit" value="追加">
</form>

<form action="{% url 'persol_users:user_modify'%}" method="post">
     {% csrf_token %}
    <input type="submit" value="修正">
</form>
{% endblock %}
