{% extends 'common/base.html' %}
{% block head %}
    <link href="css/userRegist_style.css" rel="stylesheet">
    <title>ユーザー情報修正ページ</title>
{% endblock %}

{% block contents %}
<h1>ユーザー情報修正</h1>
  <form enctype="multipart/form-data" action="{% url 'persol_users:user_modify'%}" method="POST">
  {% csrf_token %}

        <div class="item">
          {{ form1.employee_number.errors }}
          <p>社員番号</p>
          {{ user.employee_number }}

        </div>
        <div class="item">
          {{ form1.password.errors }}
          <p>パスワード</p>
          {{ form1.password }}
        </div>
        <div class="item">
          {{ form1.surname.errors }}
          <p>姓</p>
          {{ form1.surname }}
        </div>
        <div class="item">
          {{ form1.name.errors }}
          <p>名</p>
          {{ form1.name }}
        </div>
        <div class="item">
          {{ form1.mail_address.errors }}
          <p>メールアドレス</p>
          {{ form1.mail_address }}
        </div>
        <div class="item">
          {{ form1.self_introduction_text.errors }}
          <p>自己紹介メッセージ</p>
          {{ form1.self_introduction_text }}
        </div>        
        <div class="item">
          {{ form1.data.errors }}
          <p>画像</p>
          {{ form1.data }}
        </div>

        <input value="ユーザー情報修正" type="submit" class="make">
        

  </form>
{% endblock %}


