<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" > 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> 
    <link href="/static/css/sp_style.css" rel="stylesheet">
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 

    <!-- JS -->
    <script src="/static/js/common.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script> 
    <script src="/static/js/jquery.bxslider.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script> 
    <![endif]-->

    {% block head %}
        headタグの中身を書いてください。headタグ自体は共通ヘッダにあるので、中身だけ。
    {% endblock %}
</head>

{% if user.is_authenticated %}
      <header>
        <ul id="menu-wrap">
            <li class="logo"><a href="{% url 'portal' %}">PUB</a></li>
            <li class="userImage">
                <span class="trigger none-submenu"><img class="user" src="/{{ user.data.url }}" width="30px"></span>
                <ul class="submenu">
                    <li><a href="{% url 'persol_users:detail' user.id %}"><span>ユーザー情報編集</span></a></li>
                    <li><a href="{% url 'my_auth:logout' %}"><span>ログアウト</span></a></li>
                </ul>
            </li>
            <li class="hunMeny"><span class="trigger none-submenu"><i class="fa fa-bars" aria-hidden="true"></i></span>
                <ul class="submenu hub">
                    <li><a href="{% url 'events:event_create' %}"><span>イベントを作る</span></a></li>
                    <li>
                        <form action="{% url 'events:event_index' %}" method="POST">
                            {% csrf_token %}
                            <input id="searchKeyword" type="text" name="word" value="search" onblur="if (this.value == '') this.value = 'search';" onfocus="if (this.value == 'search') this.value = '';"/>
                            <input type="hidden" name="sort" value="ascforday" />
                            <a id="keywordSearchSubmit"  class="searchBtn" name="searchsubmit" ><i class="fa fa-search" aria-hidden="true"></i></a>
                        </form>
                    </li>
                </ul>
            </li>
        </ul><!-- /#menu-wrap -->
      </header>

<!--
<header>
<img src="{{ BASE_DIR }}/{{ user.data.url }}" height="30" />
<a href="{% url 'persol_users:detail' user.id %}">ユーザー情報</a>
|<a href="{% url 'events:event_create' %}">イベント作成</a>
|<form action="{% url 'events:event_index' %}" method="POST">
    {% csrf_token %}
    <input type="text" name='word'/>
    <input type="hidden" name="sort" value="ascforday" />
    <input type="submit" value="search">
</form>
|<a href="{% url 'portal' %}">イベント一覧</a>
|<a href="{% url 'my_auth:logout' %}">ログアウト</a>
</header>
<hr>
-->
{% endif %}

<body>
{% block contents %}
    ここにいろんなページが入る
{% endblock %}
</body>
</html>